.feynman {
  min-height:790px;

  background-color: #f2f2f2;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 80px;   /* Блоку необходимо добавить вертикальный верхний внутренний отступ по брифу */
 }
